{
  "BASE_URL": "https://staging.player.me/api/v1",
  "NON_EXISTING_USERNAME": "<non-existing-username>",
  "USERNAME": "<username>",
  "PASSWORD": "<password>",
  "REGISTER_EMAIL": "<register_email>",
  "REGISTER_USERNAME": "<register_username>",
  "REGISTER_PASSWORD": "<register_password>",
}
